# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#ignore files from JetBrains
misc.xml
modules.xml
opengl1.iml

#ignore cmake-debug-build
../cmake-build-debug/